# dependencies
/node_modules
/.pnp
.pnp.js

# build
/.next/
/out/
/build

# env & secrets
.env
.env*.local
!.env.local.example

# clerk
/.clerk/

# debug & logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# misc
.DS_Store
*.pem
.vercel
*.tsbuildinfo

# prisma
prisma/*.db
prisma/*.db-journal

# IDE
.idea
.vscode
